@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Merienda+One&family=Puritan:wght@400;700&display=swap');


.title{
    font-size:x-large;
}

.text-area {
    height: 8.2em;
}

.fa-solid-c{
    padding-right: 2em;
    color: #667DD2;
}


.form-message{
    color: #667DD2;
}