@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.events-list {
  background-color: white;
  border-radius: 10px;
  width: 50em;
  height: fit-content;
  margin: 1em 0 0 3.6em;
  padding-bottom: 1em;
}

.event-title {
  margin: 10px;
  font-weight: 600;
  font-size: small;
  width: 20vw;
  font-family: 'Roboto', sans-serif;
}

.div-title {
  font-size: large;
  font-weight: 700;
  padding: 1.2em;
  color: #667dd2;
}

.event-date {
  font-weight: 400;
  font-size: small;
  /* font-family: "Puritan", sans-serif; */
  font-family: 'Roboto', sans-serif;
}

.events {
  display: flex;
  align-items: center;
  margin: 1.2em;
  
}

.each-date{
    flex-grow: 1;
    text-align: center;
}

.each-event {
  display: flex;
  align-items: center;
}

.see-more-btn {
  margin-top: 0.5em;
  font-size: small;
  color: grey;
  margin: 0;
  padding-top: 3px;
  display: flex;
  justify-content: end;
  font-family: 'Roboto', sans-serif;
}

.see-more-btn:hover {
  color: #667dd2;
  font-weight: 700;
}

