.view{
    display: flex; 
    flex-direction: row;
    background-color: #F1EEEE;
}

.row-profile{
    margin-left: -2px;
    padding-left: -1px;
}

.profile-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
    width: 50em;
    height: 30em;
    margin: 3.6em 3em 0 3em;
     
}


.del-account{
    margin: 1em 2em 0 0 ;
    padding: 4px ;
    font-family: 'Puritan', sans-serif;
    font-size: small;
    font-weight: 600;
    color: white;
    margin-top: 0.5em;
    border:none;
    border-radius:4px;
    cursor:pointer;
    transition:all 0.16s;
    position:relative;
    top:0;
    background:#667DD2;
    box-shadow:0px 7px 0px 0px #586db9,
      0px 0px 10px 0px rgba(120, 120, 120, 0.4);;
}

.del-account:focus{
    outline:none;
}

.del-account:active{
    top:5px;
    box-shadow: 0px 3px 0px 0px #586db9;
}


.user-avatar{
    margin-right: 3em;
}

.user-edit-form{
    width: 16em;
    border-radius: 5px;
}

.fa-check, .fa-eye, .fa-eye-slash{
    opacity: 0.30;
    margin: 0.2em;
}

.name-form{
    border-radius: 10px;
}