@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Merienda+One&family=Puritan:wght@400;700&display=swap');

*, h2, .form-control{
    font-family: 'Puritan', sans-serif;
}


.bg{
    background-color: #F1EEEE;
}

.card {
    border-radius: 1rem;
    box-shadow: -7px 7px 11px 1px rgba(0, 0, 0, 0.25);
    
}

.lg-btn{
    background-color: #667dd2;
    border-radius: 5px;
    
}

.title{
    font-family: 'Merienda', cursive;
    font-size: 40px;
    color: #667dd2;
}

::placeholder{
    color:#667dd2;
}

.form-control{
    box-shadow: -7px 7px 11px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #667dd2;
    border-bottom-width: 3px;
    width: 100%;
   
    
}

.reg-link{
    text-decoration: none;
    font-family: 'Puritan', sans-serif;
    font-size: small;
}

.check-bt{
    margin-bottom: 1em;
}

.form-check-label{
   font-size: smaller;
   margin-left: 0.5em;
   
}

.terms-link{
    text-decoration: none;
}