@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Puritan&display=swap');

.container-form-div{
    height: 100vh;
}

.rsvp-div {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.rsvp-form{
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
  height: auto;
  width: max-content;
  padding: 2em;
  margin:auto;
}

.logo-form{
    font-family: 'Merienda One', cursive;
    font-size: x-large;
    text-align: center;
}

.label-rsvp-form{
    font-family: 'Puritan', sans-serif;
    font-size: medium;
    margin-bottom: 1em;
    
}

.checks-box{
    display:flex;
    flex-direction: column;
    gap: 15px;
    }
    
    
    /* Hide the default checkbox */
    .container-check input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
     height: 0;
     width: 0;
     border-radius: 5px;
    }
    
    .container-check {
     display: flex;
     position: relative;
     cursor: pointer;
     font-size: 20px;
     user-select: none;
     border-radius: 5px;
     flex-direction: row;
     
    }
    
    .check-label{
    margin-left: 1em;
    color: black;
    }
    
    /* Create a custom checkbox */
    .checkmark {
     position: relative;
     top: 0;
     left: 0;
     height: 1.3em;
     width: 1.3em;
     background-color: #ccc;
     border-radius: 5px;
    }
    
    /* When the checkbox is checked, add a blue background */
    .container-check input:checked ~ .checkmark {
     box-shadow: 3px 3px 0px rgb(183, 183, 183);
     transition: all 0.2s;
     opacity: 1;
     background-color: #667DD2;
    }
    
    .container-check input ~ .checkmark {
     transition: all 0.2s;
     opacity: 1;
     box-shadow: 1px 1px 0px rgb(183, 183, 183);
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
     content: "";
     position: absolute;
     opacity: 0;
     transition: all 0.2s;
    }
    
    /* Show the checkmark when checked */
    .container-check input:checked ~ .checkmark:after {
     opacity: 1;
     transition: all 0.2s;
    }
    
    /* Style the checkmark/indicator */
    .container-check .checkmark:after {
     left: 0.45em;
     top: 0.25em;
     width: 0.25em;
     height: 0.5em;
     border: solid white;
     border-width: 0 0.15em 0.15em 0;
     transform: rotate(45deg);
    }

   .input-rsvp-form{
    border-radius: 5px;
    margin-top: 0.4em;
    width: 30vw;
    margin-bottom: 1em;
   }

   .check-div{
    display: flex;
    flex-direction: row;
    align-items: center;
   }

   .rsvp-sub-btn {
    font-family: "Puritan", sans-serif;
    font-size: large;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all 0.16s;
    display: flex;
    background: #667dd2;
    box-shadow: 0px 7px 0px 0px #586db9, 0px 0px 10px 0px rgba(120, 120, 120, 0.4);
    padding: 0.3em 1em 0.3em 1em;
    margin-top: 0em;
}
  .rsvp-sub-btn:focus {
    outline: none;
  }
  .rsvp-sub-btn:active {
    top: 5px;
    box-shadow: 0px 3px 0px 0px #586db9;
  }