@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Merienda+One&family=Puritan:wght@400;700&display=swap');


.left-side-container{
    background-color: white;
    width: 40vh;
    height: 100vh;
    position: fixed;
}

.sidebar-column{
    width: 19.8% !important; 
    height: 100%;
}

.sidebar-column-2{
    width: 100%;
    height: 100%;
} */


.fa-icon, .bi-box-arrow {
    color: black !important;
}

.ms-1, .user-name, .contact-name, .contact-title{
    font-family: 'Puritan', sans-serif;
    font-size: small;
    color: black;
}

.user-img, .user-name{
    font-size: medium;
    margin-left: 0.5em;
   
}

.contact-title{
    font-size: medium;
    font-weight: 700;

}

.fa-pen-to-square, .trash-icon{
    opacity: 0.30;
    font-size: smaller;
    justify-content: flex-end;
    margin: 0.5em;
    cursor: pointer;
}


.add-contact-btn{
    padding: 0px;
    font-size: smaller;

}


.add-contact{
    background-color: #F1EEEE;
    border-radius: 20px;
    
}

.add-contact-header{
    font-size: medium;
    font-weight: 700;
    color: white;
    text-align: center;
    background-color: #667DD2;

}

.add-btn, .save-edit-btn{
    font-family: 'Puritan', sans-serif;
    font-size: small;
    color: white;
    border:none;
    border-radius:4px;
    cursor:pointer;
    transition:all 0.16s;
    position:relative;
    top:0; 
    background:#667DD2;
    box-shadow:0px 4px 0px 0px #586db9,
      0px 0px 10px 0px rgba(120, 120, 120, 0.4); 
    font-weight: 500;
    padding: 2px 10px 2px 10px;
  
}


.add-btn:focus, .save-edit-btn:focus{
    outline:none;
}

.add-btn:active, .save-edit-btn:active{
    top:5px;
    box-shadow: 0px 2px 0px 0px #586db9;
}

.close-btn{
    cursor: pointer;
}

.close-btn:hover{
    color: rgb(241, 230, 230);
}

.edit-contact{
    display: flex;
    flex-direction: column;
}

.edit-contact-info{
    border-radius: 5px;
    box-shadow: -7px 7px 11px 1px rgba(77, 77, 77, 0.25);
    border-radius: 5px;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #8b9cda;
    border-bottom-width: 3px;
    margin-right: 0px;
}

.sidebar-logo-com{
    font-size: x-large;
    color: black;
    margin-bottom: 2em;
    font-family: 'Merienda One', cursive;
}